@import url('https://fonts.googleapis.com/css2?family=Yatra+One&display=swap');

html, body {
    max-width: 100%;
    overflow-x: hidden;
    font-family:Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
    font-family:Arial, Helvetica, sans-serif;
}

html {
    background-color: #081D24;
}

body {
    margin: 0 16px;

    /* To override bootstrap white background colour  */
    background-color: transparent; 
    line-height: normal;
}

/* Override the default Bootstrap header styling */
h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
}

.invisible {
    display: none;
}

#navbar {
    width: 100%;
    height: 3rem;
    margin: 1.5rem 0;
    color: #FFFFFF;
}

#logo {
    display: inline;
    margin: 0 1rem;
    font-size: 2rem;
    font-family: 'Yatra One', cursive;
}

#menu-list {
    margin: 0.5rem;
    float: right;
}

#menu-list a:hover  {
    background-size: 100% 0.3em;
}

#menu-list a {
    font-size: 18px;
    margin: 0 1rem;
    color: #FFFFFF;
    text-decoration: none;
    background-image: linear-gradient(rgba(79, 168, 218, 1), rgba(150, 240, 240, 0.5));
    background-repeat: no-repeat;
    background-size: 100% 0;
    background-position: 0 88%;
    transition: 0.25s ease-in-out;
}

.page {
    margin-bottom: 10rem;
}

.mouse-cursor-gradient-tracking {
    position: relative;
    /* outline: none; */
    overflow: hidden;
}

#landing-page {
    color: #FFFFFF;
    text-align: center;
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    #landing-greeting {
        font-size: 6rem;
        margin-bottom: 1rem;
    }

    #landing-name {
        margin-bottom: 0;
        font-size: 4rem;
    }

    #landing-welcome {
        margin: 0 0;
        font-size: 0.9rem;
    }

    @media screen and (max-width: 425px) {
        #landing-greeting {
            font-size: 3rem;
        }

        #landing-name {
            font-size: 3rem;
        }

        #landing-welcome {
            font-size: 0.7rem;
        }
        
    }

    #landing-page-contact {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 10px;
        margin-top: 1rem;
        color: white;
    }

    #landing-page-contact > a > img{
        width: 2rem;
        color: white;
        cursor: pointer;
        opacity: 0.7;

        &:hover {
            opacity: 1;
        }
    }
}

#resume-query-container {
    display: flex;
    flex-direction: column;
    background-color: rgba(217, 217, 217, 0.276);
    margin-top: 1rem;
    max-width: 500px;
    width: 80%;
    border-radius: 10px;
    padding: 4px 12px;
    max-height: 500px;
    padding: 1em;

    @media screen and (max-width: 425px){
        width: 100%;
    }


    #search-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        #resume-query-textbox {
            width: 80%;
            border: none;
            background-color: transparent;
            color: #FFFFFF;
    
            &::placeholder {
                color: #ffffff89;
            }
    
            &:focus {
                outline: none;
            }
        }
            
        #resume-query-action-container {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10px;
        
        }

        #question-randomizer, #send-question {
            cursor: pointer;
        }
    }

    #query-answer-container {
        display: flex;
        text-align: left;
        overflow-y: scroll;
        max-height: 150px;
        scrollbar-width: none; /* hide scrollbar for Firefox */
        -ms-overflow-style: none; /* hide scrollbar for IE and Edge */

        &.answer-present {
            margin-top: 20px; 
        }
    }

}

#answer-space {
    display: flex;
    align-items: flex-start;
}

/* Big background image */
#landing-background {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    object-fit: cover;
}

/* Half-highlighted title */
.highlight {
    display: inline-block;
    background-image: linear-gradient(rgb(94 89 88 / 75%), rgb(94 89 88 / 75%));
    background-repeat: no-repeat;
    background-size: 100% 0.3em;
    background-position: 0 88%;
}

/* bold text */
.bold-text {
    font-weight: bold;
}

/* Title of a page section */
.section-title {
    font-size: 3.5rem;
    margin: 1rem 0;
    letter-spacing: 5px;
    color: #FFFFFF
}

#about-page {
    display: grid;
    grid-template-columns: 50% 50%;
    max-width: 1500px;
    color: #FFFF;
}

@media screen and (min-width: 1700px) {
    #about-page {
        margin-left: 50%;
        transform: translate(-50%, 0);
    }
}

#profile-picture {
    width: 350px;
    display: block;
    margin: 0 auto;
}

#about-text-container {
    width: 80%;
}

/* The Project Page Title */
#filter-container {
    margin-top: 1rem;
    margin-bottom: 3rem;
}

#resume-hyperlink {
    margin-top: 200px;
    letter-spacing: 0.5rem;
    text-decoration: none;
    color: #FFFF;

    &:hover {
        color: #a5c5f4;
        display: inline;
    }
}

#experience-page, #projects-page {
    margin-left: 5rem;
    margin-right: 5rem;
    max-width: 1250px;

    color: #FFFF;
}

.experience-card, .project-card{
    max-width: 800px;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2rem 1rem;
    text-decoration: none;
    gap: 30px;

    .experience-details-container, .project-details-container {
        width: 500px;
    }

    .experience-title, .project-title{
        margin-bottom: 1rem;
    }

    .experience-tag-container, .project-tags-container {
        margin-top: 3rem;
        display: flex;
        flex-wrap: wrap;
    }

    .experience-tag, .project-tag{
        margin-right: 10px;
        margin-bottom: 10px;
        padding: 0.5rem 1rem;
        border-radius: 40px;

        color: #a5c5f4;
        background-color: #1f2e54;
    }
}

@media screen and (max-width: 850px) {
    .project-card {
        flex-direction: column-reverse !important;
    }

    .experience-card, .project-card {
        max-width: 80vw;
        margin-bottom: 1rem;
        display: flex;
        flex-direction: column;
        padding: 1rem 1rem;
        gap: 10px;
    
        .experience-details-container, .project-details-container {
            width: 100%;
        }
    
        .experience-date {
            font-weight: normal;
            font-size: medium;
            opacity: 0.7;
        }

        .experience-title, .project-title{
            margin-bottom: 1rem;
        }
    
        .experience-tag-container, .project-tags-container {
            margin-top: 1rem;
            display: flex;
            flex-wrap: wrap;
        }
    
        .experience-tag, .project-tag{
            margin-right: 5px;
            margin-bottom: 5px;
            padding: 0.5rem 1rem;
            border-radius: 40px;
            font-size: small;
    
            color: #a5c5f4;
            background-color: #1f2e54;
        }
    }
}

/* Card on focus */
#experience-content-root:hover > div:hover, #projects-content-root:hover > div:hover{
    cursor: pointer;
    background-color:rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    box-shadow: -2px -2px 2px rgba(113, 110, 110, 0.346);
    opacity: 1.0;

    .experience-title, .project-title {
        color: #a5c5f4;
    }

    .experience-tag, .project-tag {
        color: #b0b0b0;
        background-color: #1d2a4a;
    }
}

/* Other experience card when an experience card is on focus */
#experience-content-root:hover > div, #projects-content-root:hover > div{
    opacity: 0.6;
}

.project-image {
    width: 200px;
    max-height: 125px;
    border-radius: 5px;

    object-fit: cover;
    object-position: 0 0;

}

#footer {
    color: white;
    text-align: center;
    margin: 5rem;
}

/* Smaller screen size */
@media screen and (max-width: 850px) {
    body {
        margin: 0 32px;
    }

    #navbar {
        display: grid;
    }

    #logo, #menu-list {
        text-align: center;
    }

    #menu-list > a {
        margin: 0 0.3rem;
    }

    #landing-page {
        margin-top: 7rem;
    }

    #about-page {
        grid-template-columns: 100vw;
    }

    .page {
        margin-bottom: 2rem;
    }

    #profile-picture-container {
        display: none;
    }

    .section-title {
        font-size: 2rem;
    }
    
    #projects-page, #about-page, #experience-page {
        margin-left: 0;
        margin-right: 0;
    }
}